
/*
 *  Track Seeker
 */
.slider {
    -default-track-color: -fx-control-inner-background;
    -track-color: -default-track-color;
}

.slider .track {
    -fx-background-color: -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%),
        -fx-text-box-border), -track-color;
}

/*
 *  Search Bar
 */
.search-button {

}

.delete-button {
}

/*
 *  Icon Color
 */
 .icon {
    -fx-icon-color: DimGrey;
 }


