/*  Root */
.root {

    -primary: MediumSeaGreen;
    -secondary: LightSeaGreen;
    -tertiary: LightGreen;
    -tertiary-armed: MintCream;
    -quaternary: Aquamarine;

    -bg-gradient: linear-gradient(from 25px 25px to 500px 300px, -primary, -tertiary-armed);
    -hlight-gradient: linear-gradient(to bottom, -quaternary, -secondary);



}

/* MusicPlayerController */
.anchor-pane {
    -fx-background-color: -primary;
    -fx-padding: 10px 15px;
    -fx-background-radius: 10px;
}

.button {
    -fill: -tertiary;

    -fx-background-color: -fill;
}

.button:hover {
    -fill: -tertiary-armed;
}

.button:armed {
    -fill: -tertiary-armed;
}

/* Table View */

.table-view,
.table-view, .column-header,
.tableview.column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -hlight-gradient;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;

}

.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: -primary;
    -fx-text-background-color: -tertiary;
}

.table-row-cell:odd {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0 ;
}

.table-row-cell: highlighted {
    -fx-background-color: -primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-row-cell: selected {
    -fx-background-color: -tertiary;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

/* Table View Scroll Bar */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -hlight-gradient;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

/* List View */
.list-view,
.list-view .corner {
    -fx-background-color: transparent;
}

.list-view .cell {
    -fx-border-color: transparent;
}

.list-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -tertiary;
}

.list-cell:odd {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
}

.list-cell:even {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0 ;
}

.list-cell: highlighted {
    -fx-background-color: -primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.list-cell: selected {
    -fx-background-color: -tertiary;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}


/*  Track Seeker */
.slider {
    -default-track-color: -fx-control-inner-background;
    -track-color: -default-track-color;
}

.slider .track {
    -fx-background-color: -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%),
        -fx-text-box-border), -track-color;
}

/*  Search Bar */
.search-button {

}

.delete-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.delete-button:hover {
    -fx-icon-color: -tertiary;
}

/* Icon Color */
 .icon {
    -fx-icon-color: DimGrey;
 }


